.centerheroaccomodations {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../public/noah.jpeg');
  background-position: 0% 95%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardaccomodations1 {
  height: 300px;
  background: url('../../public/room.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardaccomodations2 {
  height: 300px;
  background: url('../../public/room1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardaccomodations3 {
  height: 300px;
  background: url('../../public/room3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

