.firstslide {
  background: linear-gradient(var(--primary-color), transparent), url('../assets/Hero1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.secondslide {
  background: linear-gradient(var(--primary-color), transparent), url('../assets/Hero2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thirdslide {
  background: linear-gradient(var(--primary-color), transparent), url('../assets/Hero3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 

