.firstslide {
  background: linear-gradient(var(--primary-color), transparent), url('../assets/Hero1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.secondslide {
  background: linear-gradient(var(--primary-color), transparent), url('../assets/Hero2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thirdslide {
  background: linear-gradient(var(--primary-color), transparent), url('../assets/Hero3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 

.bgsurfcourses {
  height: 75vh;
  background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://images.unsplash.com/photo-1651538788343-00a9605d3d63?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

