.centerherosurf {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../public/surf-pack-2.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}