@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  background-color: #2584AA;
}

:root {
  --primary-color: #2584AA;
  --sec-color: #003458;
}

.tx-main-color {
  color: var(--primary-color) !important;
}

.tx-sec-color {
  color: var(--sec-color) !important;
}

.bg-nav-custom {
  background: linear-gradient(var(--primary-color), transparent);
}

.nav-link:hover {
  color: var(--sec-color) !important;
}

#book-nav:hover {
  color: var(--sec-color) !important;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #2584AA;
  margin: 0px 10px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.caption-animated {
  opacity: 0;
}

.carousel-item.active .caption-animated {
  transition: 1s;
  opacity: 1;
  transform: translateY(-50px);
}

.heading {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


